<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- favicon -->
		<link type="image/png" sizes="32x32" rel="icon" href="views/assets/favicon.png" />

		<!-- Bootstrap css file -->
		<link rel="stylesheet" href="views/css/bootstrap.min.css" />

		<!-- template css file -->
		<link rel="stylesheet" href="views/css/sb-admin-2.css">

		<title>Cat</title>
	</head>
	<body>
		<div
			class="d-flex flex-column justify-content-center align-items-center"
			style="height: 100dvh"
		>
			<h1 class="text-center">I'm a Cat!</h1>
			<img src="views/assets/cat/rainbow-cat.jpg" alt="rainbow-cat" />
		</div>

		<!-- Bootstrap js file -->
		<script src="views/javascript/bootstrap.bundle.min.js"></script>

		<!-- jQuery js file -->
		<script src="views/javascript/jquery-3.7.0.min.js"></script>

		<!-- template js file -->
		<script src="views/javascript/sb-admin-2.js"></script>

	</body>
</html>
