<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- favicon -->
		<link type="image/png" sizes="32x32" rel="icon" href="views/assets/favicon.png" />

		<!-- Bootstrap css file -->
		<link rel="stylesheet" href="views/css/bootstrap.min.css" />

		<!-- template css file -->
		<link rel="stylesheet" href="views/css/sb-admin-2.css">

    <!-- Style css file -->
    <link rel="stylesheet" href="views/css/contact-us.css">

		<title>Contact Us</title>
	</head>
	<body class="bg-gradient-primary">
		<div class="container">
			<!-- Outer Row -->
			<div class="row justify-content-center">
				<div class="col-xl-10 col-lg-12 col-md-9">
					<div class="card o-hidden border-0 shadow-lg my-5">
						<div class="card-body p-0">
							<!-- Nested Row within Card Body -->
							<div class="row">
								<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
								<div class="col-lg-6">
									<div class="p-5">
										<div class="text-center">
											<h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
										</div>
										<form class="user">
											<div class="form-group">
												<input
													type="text"
													class="form-control form-control-user"
													id="name"
													placeholder="Enter your name"
												/>
											</div>
											<div class="form-group">
												<input 
												type="email" 
												class="form-control form-control-user" 
												id="email"
												placeholder="Email Address"
												required
												/>
											</div>
											<!--implement here selection box-->
											<div class="form-group">
													<select name="dataTable_length" 
													aria-controls="dataTable" 
													class="custom-select custom-select-sm form-control form-control-sm"
													id="drop-down">
													<option value="" disabled selected>Contact us concerning:</option>
													<option value="General Inquiry">General Inquiry</option>
													<option value="Technical Support">Technical Support</option>
													<option value="Billing">Billing</option>
													<option value="Other">Other</option>
												</select>
											</div>
											<!--implement here combo box box-->
											<div class="form-group">
												<textarea
													class="form-control form-control-user"
													id="message"
													placeholder="Message"
												></textarea>
											</div>
											<a 
												id="submit" 
												class="btn btn-primary btn-user btn-block disabled"> 
												Submit
											</a>

											<a 
												id="support" 
												class="btn btn-primary btn-user btn-block"
												href="mailto:oneilldorin@gmail.com"> 
												Contact Support
											</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Bootstrap js file -->
		<script src="views/javascript/bootstrap.bundle.min.js"></script>

		<!-- jQuery js file -->
		<script src="views/javascript/jquery-3.7.0.min.js"></script>

		<!-- template js file -->
		<script src="views/javascript/sb-admin-2.js"></script>

		<!-- Javascript file -->
		<script src="views/javascript/contact-us.js"></script>

	</body>
</html>
